<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>入力画面</title>
        <script type="text/javascript"></script>
        <style type="text/css">
            .errorStr {color:red;}
        </style>
    </head>
        <body>
            <h2>入力画面</h2>
            <form th:action="@{/form}" th:object="${person}" method="post" novalidate>
                <label for="name">名前：</label>
                <input type="text">
                
                <button>送信</button>
            </form>
            <form th:action="@{/getlist}" method="post"><button>一覧取得</button></form>
        </body>
</html>