
<!DOCTYPE html>
<html lang="ja">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Animal hotel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="動物ホテルに特化したサイト">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <header>
        <h1 id="logo"><a href="index.html"><img src="images/logo.png" alt="Animal Hotel"></a></h1>
        <ul>
            <li><a href="http://localhost:8080/about">サイトについて</a></li>
            <li><a href="http://localhost:8080/confirm">お問い合わせ</a></li>
        </ul>
    </header>

    <!--スライドショー（slick）-->
    <aside id="mainimg">
        <div class="mainimg">
            <div><img src="images/1.jpg" alt=""></div>
            <div><img src="images/2.jpg" alt=""></div>
            <div><img src="images/3.jpg" alt=""></div>
        </div>
        <img src="images/kazari.png" alt="" class="kazari">
    </aside>

    <div id="container">

        <main>

            <section>

                <h2>おススメホテル<span>Recommended Hotel</span></h2>

                <div class="list-container">

                    <div class="list">
                        <figure><a href="http://localhost:8080/item"><img src="images/sample/sample1.jpg" alt=""></a></figure>
                        <div class="text">
                            <h4><a href="http://localhost:8080/item">サンプルホテル</a></h4>
                            <p class="name"><a href="user.html">hana</a></p>
                            <p>様々な動物でも泊まれるホテルとなっています。</p>
                        </div>
                        <span class="newicon">NEW</span>
                        <span class="icon"><img src="images/time10.png" alt=""></span>
                    </div>

                    <div class="list">
                        <figure><a href="http://localhost:8080/item"><img src="images/sample/sample2.jpg" alt=""></a></figure>
                        <div class="text">
                            <h4><a href="http://localhost:8080/item">サンプルホテル</a></h4>
                            <p class="name"><a href="user.html">hana</a></p>
                            <p>動物に安らげる環境を整えています。</p>
                        </div>
                        <span class="newicon">NEW</span>
                        <span class="icon"><img src="images/time15.png" alt=""></span>
                    </div>

                    <div class="list">
                        <figure><a href="http://localhost:8080/item"><img src="images/sample/sample3.jpg" alt=""></a></figure>
                        <div class="text">
                            <h4><a href="http://localhost:8080/item">サンプルホテル</a></h4>
                            <p class="name"><a href="user.html">haru</a></p>
                            <p>巨大なドックランがあります。</p>
                        </div>
                        <span class="newicon">NEW</span>
                        <span class="icon"><img src="images/time30.png" alt=""></span>
                    </div>

                    <div class="list">
                        <figure><a href="http://localhost:8080/item"><img src="images/sample/sample4.jpg" alt=""></a></figure>
                        <div class="text">
                            <h4><a href="http://localhost:8080/item">サンプルホテル</a></h4>
                            <p class="name"><a href="user.html">yuta</a></p>
                            <p>環境に配慮したホテル構造となっています。</p>
                        </div>
                        <span class="newicon">NEW</span>
                        <span class="icon"><img src="images/time60.png" alt=""></span>
                    </div>

                </div>

            </section>

            <section>

                <h2>お知らせ<span>What's New</span></h2>

                <dl id="new">
                    <dt>2023/03/27<span>その他</span></dt>
                    <dd>おススメホテルアップしました。<span class="newicon">NEW</span></dd>
                    <dt>20XX/00/00<span class="icon-bg1">新作ホテル</span></dt>
                    <dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
                    <dt>20XX/00/00<span class="icon-bg2">重要</span></dt>
                    <dd>アカウント情報の変更となりました。</dd>
                    <dt>20XX/00/00</dt>
                    <dd>バグの修正を行いました</dd>
                    <dt>20XX/00/00<span>その他</span></dt>
                    <dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。
                    </dd>
                </dl>

            </section>

            <section>

                <h2>ご利用前に必ずお読み下さい<span>Read Me</span></h2>

                <h3>利用規約のご案内</h3>
                <p>このサイトは、<a href="https://www.dogfriendlyhotel.org/">一般社団法人ドッグフレンドリーホテル協会</a>と連携しているサイトです。
                    必ず連携先<a href="https://">利用規約</a>をご一読の上でご利用下さい。
                </p>
                <p><strong class="color-check">動物に安らぎを与えることを中心としています。</strong><br>
                    サンプルサンプル</p>
                <p><strong class="color-check">サイト掲載にご興味ある方はからお問い合わせ願います。</strong><br>
                    <a href="https://**2*">If you are interested in listing on the site, please contact us.</a><a
                        href="https://***"></a> お願いします
                </p>
            </section>

            <section>
                <h2>おススメホテルのご紹介</h2>
                <p><a href="https://q19cm/"
                        target="_blank">様々な動物と暮らせるお部屋提供</a>Various animal hotelsをぜひとも活用してください<br>
                    神奈川県横浜市にホテルがあります。</p>
                <p>詳細はこちら<br>
                    <a href="https://www.google.com/search?q=%E3%83%9A%E3%83%83%E3%83%88%E3%83%9B%E3%83%86%E3%83%AB%E3%80%80%E6%A8%AA%E6%B5%9C&rlz=1C1FQRR_enJP985JP985&sxsrf=APwXEdd1_r3c72NM4oofVdCs0GN6GSde6g%3A1681535433497&ei=yTE6ZN_NHY-L2roP7LWGSA&ved=0ahUKEwif1sLRj6v-AhWPhVYBHeyaAQkQ4dUDCA8&uact=5&oq=%E3%83%9A%E3%83%83%E3%83%88%E3%83%9B%E3%83%86%E3%83%AB%E3%80%80%E6%A8%AA%E6%B5%9C&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQ6CggAEEcQ1gQQsAM6DQgAEEcQ1gQQyQMQsAM6CwgAEIoFELEDEIMBOggIABCABBDJAzoICAAQgAQQkgM6CAgAEIoFEJIDOgYIABAEEAM6CAgAEIAEELEDOgoIABAEEIAEELEDOgcIABAEEIAEOgoIABCKBRDJAxBDOgoIABCKBRCSAxBDOgoIABCKBRCxAxBDOg0IABCKBRCxAxCDARBDOgcIABCKBRBDOgsIABCABBCxAxCDAToGCLMBEIUEOg0IABCPARDqAhC0AhgBOg0IABAEEIAEELEDEIMBOgoIABAEEIAEEJIDSgQIQRgAUMUIWN83YOo5aAVwAHgBgAGqAogBvROSAQYyNC4yLjGYAQCgAQGwAQvIAQrAAQHaAQQIARgK&sclient=gws-wiz-serp" target="_blank"><img
                            src="images/img_main_banner.jpg" alt=""></a>
                </p>
            </section>

        </main>

        <!--開閉ブロック-->
        <div id="menubar">

            <h3><a href="http://localhost:8080/list">おススメホテル</a></h3>
            <ul class="submenu">
                <li><a href="http://localhost:8080/list">関東地方おススメホテル</a></li>
                <li><a href="http://localhost:8080/list">近畿地方おススメホテル</a></li>
                <li><a href="http://localhost:8080/list">中国地方おススメホテル</a></li>
                <li><a href="http://localhost:8080/list">九州地方おススメホテル</a></li>
            </ul>

            <h3><a href="http://localhost:8080/list">大型犬おススメホテル</a></h3>

            <h3><a href="http://localhost:8080/list">小型犬おススメホテル</a></h3>

            <ul class="submenu btn">
                <li><a href="http://localhost:8080/about">当サイトについて</a></li>
                <li><a href="http://localhost:8080/confirm">お問い合わせ</a></li>
            </ul>

        </div>
        <!--/#menubar-->

    </div>
    <!--/#container-->

    <div id="footermenu">
        <ul>
            <li class="title">見出し</li>
            <li><a href="#">サンプル、サンプル</a></li>
            <li><a href="#">サンプル</a></li>
            <li><a href="#">サンプル</a></li>
            <li><a href="#">サンプル</a></li>
        </ul>
        <ul>
            <li class="title">見出し</li>
            <li><a href="#">サンプル、サンプル</a></li>
            <li><a href="#">サンプル</a></li>
            <li><a href="#">サンプル</a></li>
            <li><a href="#">サンプル</a></li>
        </ul>
        <ul>
            <li class="title">見出し</li>
            <li><a href="#">サンプルメ、サンプル</a></li>
            <li><a href="#">サンプル</a></li>
            <li><a href="#">サンプル</a></li>
        </ul>
        <ul>
            <li class="title">見出し</li>
            <li><a href="#">サンプル、サンプル</a></li>
            <li><a href="#">サンプル</a></li>
        </ul>
    </div>
    

    <footer>
        <small>*******; <a href="index.html">Pet Hotel dot.com</a>animal-friendly hotel</small>
        <span class="pr"><a href="https://template-party.com/" target="_blank"></a></span>
    </footer>

    <!--開閉ボタン-->
    <div id="menubar_hdr">
        <span></span><span></span><span></span>
    </div>

    <!--jQueryの読み込み-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!--このテンプレート専用のスクリプト-->
    <script src="js/main.js"></script>

    <!--ページの上部へ戻るボタン-->
    <div class="pagetop"><a href="#"><i class="fas fa-angle-double-up"></i></a></div>

    <!--スライドショー（slick）-->
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="js/slick.js"></script>

</body>

</html>