<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>AnimalHotel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="AnimalHotel">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="c1">

    <header>
        <h1 id="logo"><a href="http://localhost:8080/"><img src="images/logo.png" alt="Sample Recipe Site"></a></h1>
        <ul>
            <li><a href="http://localhost:8080/about">サイトについて</a></li>
            <li><a href="http://localhost:8080/confirm">お問い合わせ</a></li>
        </ul>
    </header>

    <div id="container">

        <main>

            <p class="btn"><a href="javascript:history.back()">&lt;&lt; 前のページに戻る</a></p>

            <article>

                <h2>京都ワンニャンホテル</h2>

                <div class="recipe-img">


                    <figure>
                        <img src="images/sample/sample1.jpg" class="mb15" alt=""><br>
                    </figure>

                    <h3>泊まれる動物</h3>
                    <p>犬、猫、鳥、爬虫類、大型動物</p>

                </div>
                <!--/.recipe-img-->

                <div class="recipe">

                    <h3>宿の詳細（投稿者：hana）</h3>
                    <p>京都らしい情緒あふれる建物で、ペットと一緒にのんびり過ごせる空間です。ペット用の和風ディナーも提供しておりますので、一緒に京都の味覚を堪能いただけます。</p>

                    <ol>

                        <li><img src="images/sample/sample1.jpg" alt="" class="thumb">
                            京都の風情を感じることができる、ペットと一緒に泊まれる旅館。
                        </li>

                        <li><img src="images/sample/sample1.jpg" alt="" class="thumb">
                            ペット専用の遊び場や、ホテル内でペットグッズの販売も行っております。東京ディズニーリゾートを訪れる際には最適な立地です。ペットと一緒に素敵なひと時をお過ごしください。
                        </li>

                        <li>京都府京都市東山区祇園町南側
                        </li>

                        <li>清水寺、ペットパーク京都店
                        </li>

                        <li>京都の風情をペットと一緒に楽しむことができます。ペットが緊急時に必要な医療サービスが受けられます。
                        </li>

                    </ol>
                    <p class="btn"><a href="http://localhost:8080/form"> 予約する</a></p>

                </div>
                <!--/.recipe-->

            </article>

        </main>
    </div>
    <!--/#container-->

    <div id="footermenu">
        <ul>
            <li class="title">メニュー見出し</li>
            <li><a href="#">サンプルメニューサンプルメニュー</a></li>
            <li><a href="#">サンプルメニュー</a></li>
            <li><a href="#">サンプルメニュー</a></li>
            <li><a href="#">サンプルメニュー</a></li>
        </ul>
        <ul>
            <li class="title">メニュー見出し</li>
            <li><a href="#">サンプルメニューサンプルメニュー</a></li>
            <li><a href="#">サンプルメニュー</a></li>
            <li><a href="#">サンプルメニュー</a></li>
            <li><a href="#">サンプルメニュー</a></li>
        </ul>
        <ul>
            <li class="title">メニュー見出し</li>
            <li><a href="#">サンプルメニューサンプルメニュー</a></li>
            <li><a href="#">サンプルメニュー</a></li>
            <li><a href="#">サンプルメニュー</a></li>
        </ul>
        <ul>
            <li class="title">メニュー見出し</li>
            <li><a href="#">サンプルメニューサンプルメニュー</a></li>
            <li><a href="#">サンプルメニュー</a></li>
        </ul>
    </div>
    <!--/#footermenu-->

    <footer>
        <small>*******; <a href="index.html">Pet Hotel dot.com</a>animal-friendly hotel</small>
        <span class="pr"><a href="https://template-party.com/" target="_blank"></a></span>
    </footer>

    <!--開閉ボタン-->
    <div id="menubar_hdr">
        <span></span><span></span><span></span>
    </div>

    <!--jQueryの読み込み-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!--パララックス（inview）-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
    <script src="js/jquery.inview_set.js"></script>

    <!--このテンプレート専用のスクリプト-->
    <script src="js/main.js"></script>

    <!--ページの上部へ戻るボタン-->
    <div class="pagetop"><a href="#"><i class="fas fa-angle-double-up"></i></a></div>

</body>

</html>